body{
    background-color: #2B2A4C;
    background-size: cover;
    font-family: system-ui;
}
.navbar{
    /* background-color: blanchedalmond;*/
    border-radius: 30px; 
}
.navbar ul{
     overflow:auto;/*coz float karne par parent se overflow ho jaega/ */
}
.navbar li{
    float:left;
    list-style:none;
    margin:13px 20px;
    color: aliceblue;
    
}
.navbar li a{
    text-decoration:none;
    padding:3px 3px;
    color:blanchedalmond;
    font-size: 20px;
}
.navbar li a:hover{
    text-decoration:none;
    padding:3px 3px;
    color:black;
    background-color:blanchedalmond;
}

.search {
    float: right;
    color: brown;
    padding: 12px 12px;
}

.search input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 7px 9px;
    width: 175px;
    margin-right: 5px;
}

.search button {
    background-color: #1C1F25;
    color: #fff;
    padding: 7px 10px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.search button:hover {
    background-color: #ec6b01;
}
/* .navbar input{
    border:2px solid black;
    border-radius: 14px;
    padding:7px 9px;
    width:175px;
} */
.container{
    width: 1200px;
    height: 1700px;
    margin: auto;
    transition: 0.5s;
    text-align: center;
    background-color: #7B66FF;
    font-family: serif;
    font-weight: 500;
    font-style: italic;
    font-size: larger;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 60px;
    margin-top: 50px;
    margin-left: 33px;
    margin-right:33px
}
.list .item{
    text-align: center;
    background-color:#F9E8D9;
    padding: 20px;
    box-shadow: 0 50px 50px #262626;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 350px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 15px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.Cart{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .Cart{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.Cart h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.Cart .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.Cart .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.Cart .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.Cart .checkOut div:nth-child(3) {
    background-color: #1C1F25;
    color: #fff;
}
.listCart li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCart li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCart li img{
    width: 90%;
}
.listCart li button{
    background-color: #fff5;
    border: none;
}
.btn:hover {
    background-color: #ec6b01;
    color: rgb(255, 255, 255);
}
.listCart .count{
    margin: 0 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}