.navbar{
    /* background-color: blanchedalmond;*/
    border-radius: 30px; 
}
.navbar ul{
    overflow:auto;/*coz float karne par parent se overflow ho jaega*/
}
.navbar li{
    float:left;
    list-style:none;
    margin:13px 20px;
    color: aliceblue;
    
}
.navbar li a{
    text-decoration:none;
    padding:3px 3px;
    color:blanchedalmond;
    font-size: 20px;
}
.navbar li a:hover{
    text-decoration:none;
    padding:3px 3px;
    color:black;
    background-color:blanchedalmond;
}
.login{
    
    float: right;
    padding: 6px;
    margin: 13px;
    background-color: black;
    color: blanchedalmond;
    border: 2px solid blanchedalmond;
    border-radius: 31px;
    font-size: 15px;

}
.login:hover{
    background-color: blanchedalmond;
    color:black;
}
.search{
    float:right;
    color:brown;
    padding:12px 12px;
    /* height:50px; */

}
.order{
    width: 100px;

}
a{
    width: 100px;
}
.navbar input{
    border:2px solid black;
    border-radius: 14px;
    padding:7px 9px;
    width:175px;
}
body{
    background-image: url(https://hungerbay.com/assets/images/b6.jpg);
    /* ight:2000px;
    widheth:2500px; */
    background-size: cover;
}
.head{
   text-align: center;
   font-size:70px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color:blanchedalmond;
}
/* script{
    text-align:center;
    color:blanchedalmond;
    display:inline-block;
} */
.para{
    color: blanchedalmond;
    size: 500cap;
    text-align: center;

}


.btn{
background-color: black;
border: 2px solid blanchedalmond;
color:blanchedalmond;
margin-top: 50px;
margin-bottom: 50px;
padding: 5px 10px;
text-align: center;
display: inline-block;
font-size: 20px;
cursor: pointer;
border-radius: 10px;
}
.btn:hover{
    background-color: blanchedalmond;
    color:black;
}
.btn2{
    background-color: black;
    border: 2px solid blanchedalmond;
    color:blanchedalmond;
    padding: 5px 10px;
    text-align: center;
    /* display: inline-block; */
    font-size: 20px;
    /* margin: 80px 30px 100px 638px; */
    cursor: pointer;
    border-radius: 10px;
 }
.btn2:hover{
    background-color: blanchedalmond;
    color:black;
}
li{
    list-style:none;
}

.main{
    
	
	animation: beat .25s  alternate;
    animation-iteration-count: 4;
	transform-origin: center;
}
@keyframes beat{
	to { transform: scale(1.4); }
}